.container{
    display: grid;
    grid-template-rows:10% 20% 5% 200% 20% 20% 20% ;
    grid-gap: 0px;
    height: 100%;
    
    width: 200%;
}
.header1{
    background-color: rgba(154, 151, 146, 0);
    text-align: center;
    height: 30px;
    }
    .mar{
        color: rgb(25, 19, 13);
        font-weight: 900;
        font-family: sans-serif;
        

    }
.header2{
    background-color: rgba(80, 80, 83, 0.034);
    display: grid;
    grid-template-columns: 30% 30% 40%;
    align-items: center;
    height: 50px;
   
    
    
    
    
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-family: sans-serif;
    
}
.menu i div{
    padding: 10px;
    
}
.enquiry button{
    float: right;
    margin-right: 200px;
    font-weight: 900;
    font-family: sans-serif;

}
.logo{
    font-weight: 900;
    font-family: sans-serif;
    margin-left: 60px;
    cursor: pointer;
    
}

.menu a{
    text-decoration: none;
    color: black;
}
.logo:hover{
    color: rgb(225, 36, 225);
    
    
}
.mail a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 900;
    padding-left: 20px;
    font-size: larger;
    margin-left: 40px;
}
.phone a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 900;
    padding-left: 20px;
    font-size: larger;
}
.form{
    display: none;

    position: absolute;
    top: 200px;
    right: 50px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px white;
    padding: 20px;
    text-align: center;
    background-color: rgb(161, 168, 168);
}
input{
    color: white;
}
.mass{
    margin: 5px;
    background-color: black;
}
.mateer{
    color: white;
    font-weight: 900;
}
.enquiry:hover .form{
    display: block;
}
section{
    display: none;
    border: 2px solid white;
    position: absolute;
    top: 110px;
    width: 150px;
    background-color: black;
    height: 150px;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 5px;
}
section li{
    list-style: none;
    padding: 10px;
    color: white;
    font-weight: 900;
    
}
.content{
    position: absolute;
    left: 50px;
    top: 300px;
    color: white;
    text-shadow: 3px 3px 10px 10px rgb(43, 18, 18);
}
.content button{
    background-color: rgb(120, 123, 125);
    padding: 4px;
    width: 100px;
    box-shadow: 5px 5px 5px 5px rgb(30, 33, 34);
    border-radius: 5px ;
}
i{
    color: rgb(203, 29, 29);
}
.icons{
    text-decoration: none;
    text-emphasis: none;
}
.icons a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: larger;
    font-weight: 900;
    
}
.coures:hover section{
    display: block;
}


.header3{
    background-color: rgb(50, 187, 205);
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    width: 100%;
    
}
.header4{
    background-color: yellowgreen;
    background-image: url(./maruthi/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    
    
    
    
    width: 100%;

}
.header5{
    background-color: rgba(153, 205, 50, 0.007);
    height: 400px;
}
/*.child5 div{
    background-color: white;
    height: 200px;
    
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 5px;
    
    
    text-align: center;
    
}
.child5{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    
    
    

    
}
.child1{
    margin-left: 100px;
    
}
.child2{
    margin-right: 100px;
}
*/
.key{
    background-color: rgba(255, 255, 255, 0.922);
    text-align: center;
    padding-top: 20px;
    color: black;
    font-weight: 900;
    height: 200px;

}
.header5{
   color: white;
    
}
.key1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    color: black;

}
.cars{
    display:grid ;
    grid-template-columns: auto auto auto auto;   /*here header5 cars */
    height: 200px;
    grid-gap: 10px;
    
    border-radius: 5px;
    

    
}
.cars1{
   margin: 20px;
   background-color: rgb(14, 201, 14);
   border-radius: 10px;
}
.cars1:hover{
    background-color: rgba(0, 128, 0, 0.046);
}
.header6{
    height: 1100px;
    background-color: rgba(0, 0, 0, 0.009);
    
    
}
.header7{
    height: 200px;
    background-color: rgba(23, 236, 225, 0.132);
    margin-left: 10px;

    
    
    
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
 grid-gap:10px ;
}

*.cards{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    color: white;
    grid-gap: 10px;
    height: 100px;
    width: 100%;
    margin-left: 10%;
    

    
    
}
.card1{
    
    border-radius: 0px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(12, 189, 237);
    text-align: center;
    
    background-color: white;

    color: black;
    height: 300px;
    
    
}
.front{
    background-color: rgb(9, 146, 9);
    font-weight: 900;
    font-family: sans-serif;
    font-size: larger;
    color: black;
    padding: 20px;

}
.card1  a{   
    text-decoration: none;
    font-weight: 900;
    font-family: sans-serif;
    font-size: larger;
                                            /*appy now button*/

}
.card1 button{
    background-color: aquamarine;
    border-radius: 20px;
    width: 150px;
    padding: 10px;
}
.for{
    display: none;
    position: absolute;
    left: 150px;
    bottom: 30px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px rgb(40, 33, 33);
    text-align: center;

    font-weight: 900;
    font-family: sans-serif;
    font-size: larger;
    background-color:white;
    color: black;
}
.app:hover form{
    display: block;
}

.quik{
    border-radius: 5px;
    color: black;
}
.fbuttons {
    text-align: center;
    
    

}
.fbuttons button{
    background-color: rgb(171, 209, 197);
    margin-top: 30px;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 2px 2px 2px 2px  rgb(171, 209, 197);
}
.paragraph{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.paragraph div{
    box-shadow: 3px 3px 3px 3px rgb(26, 22, 22);
    background-color: beige;
    padding: 20px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;


}
.paragraph:hover{
    color: rgba(165, 42, 42, 0.653);
}
.block {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    margin-top: 30px;
    
    
    
   
}
.block1{
    text-align: center;
   background: rgb(156, 66, 66);
   border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(190, 32, 32);


}
.count1{
    background-color:white;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px rgb(110, 96, 96);

 }


.block1:hover.count1{
    
}
 
 
 .block0{
    text-align: center;
   background: rgb(156, 66, 66);
   border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(190, 32, 32);


}
.block0:hover.count0{
    display: block;
    
}
.count0{
    background-color:white;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    color: black;
    box-shadow: 3px 3px 3px rgb(110, 96, 96);
    
    
 }
 .block2{
    text-align: center;
   background: rgb(156, 66, 66);
   border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(190, 32, 32);


}
.block2:hover.count2{
    display: block;
    
}
.count2{
    background-color:white;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    color: black;
    box-shadow: 3px 3px 3px rgb(110, 96, 96);
    
    
 }
 .block3{
    text-align: center;
   background: rgb(156, 66, 66);
   border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(190, 32, 32);


}
.block3:hover.count3{
    display: block;
    
}
.count3{
    background-color:white;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    color: black;
    box-shadow: 3px 3px 3px rgb(110, 96, 96);
    
    
 }
 .block4{
    text-align: center;
   background: rgb(156, 66, 66);
   border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(190, 32, 32);


}
.block4:hover.count4{
    display: block;
    
}
.count4{
    background-color:white;
    font-size: larger;
    font-weight: 900;
    font-family: sans-serif;
    color: black;
    box-shadow: 3px 3px 3px rgb(110, 96, 96);
    
    
 }







